# Python files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
env/

# Database files
*.sqlite3

# Django settings
*.env

# VSCode settings
.vscode/

# Logs
*.log

# Compiled files
*.so

# Static files
staticfiles/
media/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Git
*.swp

# Jupyter Notebook checkpoints
*.ipynb_checkpoints/

# Build artifacts
dist/
build/

# Testing artifacts
*.coverage
htmlcov/

# Environment-specific files
local_settings.py

# Node modules
node_modules/
music_controller/node_modules/

# Documentation files
docs/

# Temporary files
*.tmp
*.bak

# Cache files
cache/

# Configuration files
config/local.yml

# Secrets
secrets/